version: '3.1'

networks:
  beacon-priv:
  idp-priv:
  pub:
  my-app-network:
    external: true

services:

  ###########################################
  # beacon-ri-tools
  ###########################################

  beacon-ri-tools:
    image: beacon2ri/beacon_reference_implementation:v2.0.0
    hostname: beacon-ri-tools
    networks:
      - beacon-priv 
    tty: true

  ###########################################
  # training-ui
  ###########################################

  ui:
    image: pt-beacon/training_ui:v0.1
    build: ../training-ui-files
    hostname: beacon-training-ui
    container_name: beacon-training-ui    
    ports:
      - 9500:8080
    environment:
      USERNAME: root
      PASSWORD: ${DB_PASSWD}
    networks:
      - beacon-priv

  ###########################################
  # MongoDB Database
  ###########################################

  db:
    image: mongo:5
    hostname: mongo
    container_name: beacon-db
    ports:
      - 127.0.0.1:27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWD}
      MONGO_INITDB_DATABASE: beacon
    volumes:
      - ./mongo-init/:/docker-entrypoint-initdb.d/:ro
    networks:
      - beacon-priv
      - my-app-network

  mongo-express:
    image: mongo-express
    container_name: beacon-mongo-express
    restart: always
    ports:
      - 127.0.0.1:2081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_PASSWD}
      ME_CONFIG_MONGODB_URL: mongodb://root:${DB_PASSWD}@mongo:27017/
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASSWD}
    networks:
      - beacon-priv

  ###########################################
  # Beacon
  ###########################################

  beacon:
    build: ..
    image: pt/beacon:2.0
    hostname: beacon
    container_name: beacon
    volumes:
      - ../beacon:/beacon/beacon  # inject the code, so we see the modifications "live"
      # - ../ui/static:/beacon/ui/static
      # - ../ui/templates:/beacon/ui/templates
      - ./conf.py:/beacon/beacon/conf.py
      - ./logger.yml:/beacon/beacon/logger.yml
      - ./ontologies:/beacon/ontologies
      - ./.env:/beacon/.env
    environment:
      DB_PASSWD: ${DB_PASSWD}
    ports:
      - "5050:5050"
    networks:
      - beacon-priv
      - pub
      - idp-priv
      - my-app-network
    working_dir: '/beacon'
    entrypoint: ['python','-m','beacon']
    # entrypoint: ['/bin/sleep','100000000']

  ###########################################
  # Permissions server
  ###########################################
  
  permissions:
    image: pt/beacon:2.0
    hostname: beacon-permissions
    container_name: beacon-permissions
    volumes:
      - ../permissions/:/beacon/permissions/  # inject the code, so we see the modifications "live"
      - ./logger.yml:/beacon/logger.yml
    ports:
      - "5051:5051"
    environment:
      BEACON_DOMAINS: ${BEACON_DOMAINS}

      # DB credentials
      DB_PASSWD: ${DB_PASSWD}

      # LS AAI configs
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}

      # REMS configs
      REMS_URL: ${REMS_URL}
      REMS_API_USER: ${REMS_API_USER}
      REMS_API_KEY: ${REMS_API_KEY}
      REMS_PUB_URL: ${REMS_PUB_URL}
      REMS_BEACON_RESOURCE_PREFIX: ${REMS_BEACON_RESOURCE_PREFIX}

      # Permissions configs
      REMS_PERMS_ENABLED: ${REMS_PERMS_ENABLED}
      OIDC_CALLBACK_URL: ${OIDC_CALLBACK_URL}
      OIDC_ISSUER: ${OIDC_ISSUER}
      OIDC_AUTHORIZE_URL: ${OIDC_AUTHORIZE_URL}
      MAX_TOKEN_AGE: ${MAX_TOKEN_AGE}
      
    networks:
      - beacon-priv
      - pub
      - idp-priv
      - my-app-network
    #entrypoint: ['/bin/sleep','100000000']
    working_dir: '/beacon'
    entrypoint: ['python','-m', 'permissions']

  ###########################################
  # Local Identity Provider
  ###########################################
  # Keycloak is so slow to boot that the DB goes faster
  # and we don't need a delay in-between. We can rely on the depends_on only.

  #idp:
  #  image: jboss/keycloak
  #  hostname: idp
  #  container_name: idp
  #  environment:
  #    # - KEYCLOAK_FRONTEND_URL=http://idp:8080/auth
  #    # - KEYCLOAK_LOGLEVEL=DEBUG
  #    # - ROOT_LOGLEVEL=DEBUG
  #    - KEYCLOAK_USER=admin
  #    - KEYCLOAK_PASSWORD=secret
  #    - DB_USER=admin
  #    - DB_PASSWORD=secret
  #    - DB_VENDOR=postgres
  #    - DB_ADDR=idp-db
  #    - DB_PORT=5432
  #    - DB_DATABASE=keycloak
  #    #- DB_SCHEMA=public
  #    - KEYCLOAK_IMPORT=/tmp/beacon-realm.json -Dkeycloak.profile.feature.upload_scripts=enabled -Dkeycloak.profile.feature.token_exchange=enabled -Dkeycloak.profile.feature.admin_fine_grained_authz=enabled
  #    - KEYCLOAK_HOSTNAME=localhost
  #  volumes:
  #    - ./beacon-realm.json:/tmp/beacon-realm.json
  #  ports:
  #    - "8083:8000"
  #    - "9991:8443"
  #  networks:
  #    - pub
  #    - idp-priv 
  #  depends_on:
  #    - idp-db

  #idp-db:
  #  image: postgres
  #  hostname: idp-db
  #  container_name: idp-db
  #  environment:
  #    - POSTGRES_DB=keycloak
  #    - POSTGRES_USER=admin
  #    - POSTGRES_PASSWORD=secret
  #  networks:
  #    - idp-priv 
  #    - my-app-network
